---
import Layout from "@/layouts/ProfileLayout.astro";
import { supabase } from "@/db/supabase";

const { id } = Astro.params;
const { cookies, redirect } = Astro;

if (!id) {
  return redirect("/admin/adminraces");
}

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const idAuth = dataAuth?.user?.id || "";

const { data: roleData } = await supabase
  .from("profiles")
  .select("roleesp")
  .eq("id", idAuth)
  .single();

if (roleData?.roleesp !== 1) {
  return redirect("/index");
}

const { data: champsData } = await supabase
  .from("championship")
  .select("*")
  .eq("id", id)
  .single();
---

<Layout title="ESP Racing: Modificación datos de campeonato">
  <h2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto">
    Modificar Datos de Campeonato
  </h2>
  <form id="editChampForm" class="flex flex-col mt-5">
    <label class="mt-5 text-lg font-semibold" for="name">
      Nombre de Campeonato:
    </label>
    <input
      type="text"
      name="name"
      value={champsData?.name}
      class="bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />

    <label class="mt-5 text-lg font-semibold" for="keySearchAPI">
      Keysearch del campeonato (sentencia para buscar el campeonato en la API
      del servidor)
    </label>
    <input
      type="text"
      id="keySearchAPI"
      name="keySearchAPI"
      value={champsData?.key_search}
      class="bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />

    <label class="mt-5 text-lg font-semibold" for="yearChamp">
      Año de inicio del campeonato
    </label>
    <input
      type="text"
      name="yearChamp"
      value={champsData?.year}
      class="bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />

    <label class="mt-5 text-lg font-semibold" for="season">
      Temporada a la que pertenece (antiguo: {champsData?.season})
    </label>
    <select
      class="w-full p-3 border border-solid border-[#f7f7f7] rounded-md mt-2 mb-4 resize-y text-white bg-[#19191c] hover:border-[#da392b]"
      id="season"
      name="season"
    >
      <option value="2021">2020/2021</option>
      <option value="2122">2021/2022</option>
      <option value="2223">2022/2023</option>
      <option value="2324">2023/2024</option>
      <option value="2425">2024/2025</option>
      <option value="2526">2025/2026</option>
      <option value="2627">2026/2027</option>
      <option value="0">Sin Temporada / Otra</option>
    </select>

    <div class="mb-4">
      <label class="text-[#f9f9f9] text-lg font-medium" for="champORevent">
        ¿Es un evento suelto o un campeonato completo?
      </label>
      <div class="flex items-center gap-2 mt-2">
        <label class="relative inline-flex cursor-pointer">
          <input
            id="champORevent"
            name="champORevent"
            type="checkbox"
            class="sr-only peer"
          />
          <div
            class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-[#da392b] dark:peer-focus:ring-[#da392b] dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#da392b]"
          >
          </div>
        </label>
        <span id="eventTypeText" class="text-[#f9f9f9] text-sm font-medium">
          Evento suelto
        </span>
      </div>
    </div>

    <input type="hidden" name="champ_id" value={id} />

    <div>
      <button
        type="submit"
        class="py-1.5 px-3 w-fit mr-2 bg-[#0f0f0f] text-white border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-[#0f0f0f]"
      >
        Aceptar
      </button>

      <button
        onclick="window, location.href = '/admin/adminraces'"
        class="py-1.5 px-3 w-fit bg-[#0f0f0f] text-white border-[#da392b] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#da392b] hover:text-[#0f0f0f]"
      >
        Cancelar
      </button>
    </div>
  </form>
</Layout>

<script>
  const form = document.getElementById("editChampForm") as HTMLFormElement;

  const isEventSwitch = document.getElementById(
    "champORevent"
  ) as HTMLInputElement;
  const eventTypeText = document.getElementById("eventTypeText");

  if (isEventSwitch && eventTypeText) {
    isEventSwitch.addEventListener("change", () => {
      if (isEventSwitch.checked) {
        eventTypeText.textContent = "Campeonato completo";
      } else {
        eventTypeText.textContent = "Evento suelto";
      }
    });
  }

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    try {
      const response = await fetch("/api/admin/championship/editchamp", {
        method: "POST",
        body: formData,
      });

      if (!response.ok) {
        throw new Error("Error en la respuesta del servidor");
      }

      const result = await response.json();

      if (result.success) {
        alert("Campeonato actualizada con éxito");
        window.location.href = "/admin/adminchampionship";
      } else {
        throw new Error(result.error || "Error desconocido");
      }
    } catch (error) {
      console.error("Error al actualizar el campeonato:", error);
      alert(
        "Hubo un error al actualizar el campeonato. Por favor, inténtalo de nuevo."
      );
    }
  });
</script>
