---
import Layout from "@/layouts/NormalLayout.astro";
import { CldImage } from "astro-cloudinary";
import { getCollection } from "astro:content";

import ImageModal from "@/components/ImageModal.astro";

const pastchamp2024 = await getCollection("pastchamp2024");
let groupedChampImages: {[key: string]: Array<{id: string; data: { display_name: string; public_id: string; width: number; height: number;};}>;} = {};

if (pastchamp2024 !== null) {
  const sortedByDisplayName = pastchamp2024.sort((a, b) => a.id.localeCompare(b.id));

  const groupImagesByNumber = (images: Array<{ id: string; collection: string; data: {display_name: string; public_id: string; width: number; height: number;};}>) => {
    return images.reduce(
      (groups: {[key: string]: Array<{id: string; data: {display_name: string; public_id: string; width: number; height: number;};}>;}, item) => {
        const number = item.data.display_name.split("-")[0];
        if (!groups[number]) {
          groups[number] = [];
        }
        groups[number].push(item);
        return groups;
      },
      {}
    );
  };

  groupedChampImages = groupImagesByNumber(sortedByDisplayName as Array<{ id: string; collection: string; data: { display_name: string; public_id: string; width: number; height: number;};}>);
}

const pastevents2024 = await getCollection("pastevents2024");
let groupedEventImages: {[key: string]: Array<{id: string; data: { display_name: string; public_id: string; width: number; height: number;};}>;} = {};

if (pastevents2024 !== null) {
  const sortedByDisplayName = pastevents2024.sort((a, b) => a.id.localeCompare(b.id));

  const groupImagesByNumber = (images: Array<{ id: string; collection: string; data: {display_name: string; public_id: string; width: number; height: number;};}>) => {
    return images.reduce(
      (groups: {[key: string]: Array<{id: string; data: {display_name: string; public_id: string; width: number; height: number;};}>;}, item) => {
        const number = item.data.display_name.split("-")[0];
        if (!groups[number]) {
          groups[number] = [];
        }
        groups[number].push(item);
        return groups;
      },
      {}
    );
  };

  groupedEventImages = groupImagesByNumber(sortedByDisplayName as Array<{ id: string; collection: string; data: { display_name: string; public_id: string; width: number; height: number;};}>);
}
---

<Layout title="ESP Racing: pastchamp 2024">
  <h2 class="text-5xl font-bold text-center border-b-2 border-[#da392b] w-fit mx-auto mb-8 mt-5">
    Campeonatos 2024
  </h2>

  <div>
    {
      Object.entries(groupedChampImages).map(([group, images]) => (
        <div class="pl-2 mb-8">
          <h2 class=" text-2xl font-bold mb-4">Campeonato {group}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {images.map((image) => (
              <div
                class="rounded-lg p-2 cursor-pointer bg-[#080808]"
                onclick={`openModal('${image.data.public_id}', ${image.data.width}, ${image.data.height})`}
              >
                <CldImage
                  src={image.data.public_id}
                  width={image.data.width}
                  height={image.data.height}
                  alt={`Imagen del Campeonato ${group}`}
                />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="text-5xl font-bold text-center border-b-2 border-[#da392b] w-fit mx-auto mb-8 mt-5">
    Eventos 2024
  </h2>

  <div>
    {
      Object.entries(groupedEventImages).map(([group, images]) => (
        <div class="pl-2 mb-8">
          <h2 class="text-2xl font-bold mb-4">Evento {group}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {images.map((image) => (
              <div
                class="rounded-lg p-2 cursor-pointer bg-[#080808]"
                onclick={`openModal('${image.data.public_id}', ${image.data.width}, ${image.data.height})`}
              >
                <CldImage
                  src={image.data.public_id}
                  width={image.data.width}
                  height={image.data.height}
                  alt={`Imagen del Evento ${group}`}
                />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <ImageModal />
</Layout>
