---
import Layout from "@/layouts/ProfileLayout.astro";
import ButtonProfiles from "@/components/ButtonProfiles.astro";
import { supabase } from "@/db/supabase";

const { id } = Astro.params;

//**  Protocol to check if the user is logged in
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

if (id === null || id === undefined) {
  return redirect("/messageList");
}

const { data: MessageData } = await supabase
  .from("message")
  .select("*")
  .eq("id", Number(id))
  .single();

if (!MessageData) {
  return redirect("/messageList");
}

const regionMap = {
  spain: "España",
  latinoamerica: "Latino America",
  portugal: "Portugal",
  europe: "Europa",
  russia: "Rusia",
  usa: "Estados Unidos/Canada",
  africa: "Africa",
  asia: "Asia",
  oceania: "Oceania"
} as const;

const region = regionMap[MessageData.region as keyof typeof regionMap] ?? "Desconocida";
---

<Layout title={`ESP Racing: Mensaje Nº${id}`}>
  <form action="../api/messages/messageReaded" method="post" data-astro-reload>
    <h2 class="text-5xl font-extrabold border-b-2 border-primary w-full">
      Mensaje
    </h2>

    <div class="grid w-11/12 grid-cols-1 my-5">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Nombre Emisor / Discord
      </h3>
      <p class="pl-2 text-2xl font-medium">
        {MessageData.name_emissor} / {MessageData.discord}
      </p>

      <h3 class="mt-5 text-4xl font-semibold border-b-2 border-primary w-3/4">
        Regíon/Pais de Procedencia
      </h3>
      <p class="pl-2 text-2xl font-medium">{region}</p>
    </div>

    <div class="grid w-11/12 grid-cols-1 my-5">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Mensaje
      </h3>
      <p class="pl-2 text-2xl font-medium">{MessageData.description}</p>
    </div>

    <input type="hidden" name="id" value={id} />
    <ButtonProfiles message="Volver Atras y Marcar como leido" />
  </form>
</Layout>
