---
import Layout from "@/layouts/NormalLayout.astro";
import { turso } from "@/turso";

const { rows: UsersData } = await turso.execute(
  "SELECT DISTINCT U.image, U.name AS UserName, U.number_plate, U.races, U.wins, U.podiums, U.flaps, U.poles, U.top5, U.top10, U.dnf, T.name AS TeamName FROM User AS U LEFT JOIN Team AS T ON U.team = T.id ORDER BY U.races DESC"
);
---

<Layout title="ESP Racing: Pilotos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <p2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto"
      >Tabla de Pilotos</p2
    >
    <table class="mt-6 w-full border-collapse border border-[#f9f9f9]">
      <thead class="font-medium bg-[#da392b]">
        <tr>
          <th>Nº</th>
          <th colspan="2">Nombre</th>
          <th>Equipo</th>
          <th>Carreras</th>
          <th>Victorias</th>
          <th>Podios</th>
          <th>V. Rápidas</th>
          <th>Poles</th>
          <th>Top 5</th>
          <th>Top 10</th>
          <th>DNF</th>
        </tr>
      </thead>
      <tbody>
        {
          UsersData.map((user, index) => (
            <tr class="bg-[#19191c]">
              <td class="font-semibold">{index + 1}</td>
              <td><img src={String(user.image)} alt="Avatar" class="w-8 py-1 rounded-full justify-end"/></td>
              {user.number_plate === null || user.number_plate === 0 ? (
                <td>#0 - {user.UserName}</td>
              ) : (
                <td>
                  #{user.number_plate} - {user.UserName}
                </td>
              )}
              <td>{user.TeamName}</td>
              <td>{user.races}</td>
              <td>{user.wins}</td>
              <td>{user.podiums}</td>
              <td>{user.flaps}</td>
              <td>{user.poles}</td>
              <td>{user.top5}</td>
              <td>{user.top10}</td>
              <td>{user.dnf}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>

<style>
  tbody tr:nth-child(odd) {
    background-color: #0f0f0f;
  }

  tbody tr:nth-child(even) {
    background-color: #19191c;
  }
</style>
