---
import Layout from "@/layouts/NormalLayout.astro";
import { supabase } from "@/db/supabase";

const { data: UsersData, error: errorUsers } = await supabase
  .from("profiles")
  .select('full_name, number_plate, avatar, races, wins, podiums, flaps, poles, top5, top10, dnf, team!inner(name)')
  .order('full_name', { ascending: true });
---

<Layout title="ESP Racing: Pilotos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <h2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto">
      Tabla de Pilotos
    </h2>
    <table class="mt-6 w-full border-collapse border border-[#f9f9f9]">
      <thead class="font-medium bg-[#da392b]">
        <tr>
          <th>Nº</th>
          <th colspan="2">Nombre</th>
          <th>Equipo</th>
          <th>Carreras</th>
          <th>Victorias</th>
          <th>Podios</th>
          <th>V. Rápidas</th>
          <th>Poles</th>
          <th>Top 5</th>
          <th>Top 10</th>
          <th>DNF</th>
        </tr>
      </thead>
      <tbody>
        {
          (UsersData ?? []).map((user, index) => (
            <tr class="bg-[#19191c]">
              <td class="font-semibold">{index + 1}</td>
              <td><img src={String(user.avatar)} alt="Avatar" class="w-8 py-1 rounded-full justify-end"/></td>
              {user.number_plate === null || user.number_plate === 0 ? (
                <td>#0 - {user.full_name}</td>
              ) : (
                <td>
                  #{user.number_plate} - {user.full_name}
                </td>
              )}
              <td>{user.team.name}</td>
              <td>{user.races}</td>
              <td>{user.wins}</td>
              <td>{user.podiums}</td>
              <td>{user.flaps}</td>
              <td>{user.poles}</td>
              <td>{user.top5}</td>
              <td>{user.top10}</td>
              <td>{user.dnf}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>

<style>
  tbody tr:nth-child(odd) {
    background-color: #0f0f0f;
  }

  tbody tr:nth-child(even) {
    background-color: #19191c;
  }
</style>
