---
import Layout from "@/layouts/ProfileLayout.astro";
import { supabase } from "@/db/supabase";

// ****************************************************************************

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const id = dataAuth?.user?.id || "";

const { data: userData, error: errorUserData } = await supabase
  .from('profiles')
  .select('id, email, full_name, steam_id, avatar, races, poles, wins, podiums, top5, top10, flaps, dnf, team')
  .eq('id', id)
  .single();

if(errorUserData || userData === null) {
  return redirect("/index");
}

const teamID = userData?.team;
let TeamData: { name: string } = { name: "" };
if (teamID) {
  const { data, error: errorTeamData } = await supabase
    .from('team')
    .select('name')
    .eq('id', teamID)
    .single();
  if (!errorTeamData) {
    TeamData = data;
  }
}
---

<Layout title="ESP Racing: Mi Perfil">
  <h2 class="text-5xl font-extrabold border-b-2 border-primary w-full">
    Mi Perfil
  </h2>

  <img
    src={String(userData.avatar)}
    alt="Avatar"
    class="w-20 mt-5 rounded-full"
  />
  <div class="grid w-11/12 grid-cols-1 my-5 lg:grid-cols-2 xl:grid-cols-3">
    <div class="mb-2">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Nombre
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.full_name}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Steam ID
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.steam_id}</p>
    </div>

    {
      TeamData?.name === null ||
      TeamData?.name === undefined ||
      TeamData?.name === "" ? (
        <div class="blockdata">
          <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
            Equipo
          </h3>
          <p class="pl-2 text-2xl font-medium">Sin Equipo</p>
        </div>
      ) : (
        <div class="blockdata">
          <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
            Equipo
          </h3>
          <p class="pl-2 text-2xl font-medium">{TeamData.name}</p>
        </div>
      )
    }
  </div>

  <h2 class="text-5xl font-extrabold border-b-2 border-primary w-full mt-12">
    Estadisticas de Carrera
  </h2>
  <div class="grid w-11/12 grid-cols-1 my-5 lg:grid-cols-2 xl:grid-cols-3">
    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Carreras
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.races}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Victorias
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.wins}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Podios
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.podiums}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Top 5
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.top5}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Top 10
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.top10}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        Vueltas Rápidas
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.flaps}</p>
    </div>

    <div class="blockdata">
      <h3 class="text-4xl font-semibold border-b-2 border-primary w-3/4">
        DNF
      </h3>
      <p class="pl-2 text-2xl font-medium">{userData.dnf}</p>
    </div>
  </div>

  <div class="grid grid-flow-col mt-8">
    <a
      href="/modprofile"
      class="py-1.5 px-2 w-fit bg-dark-primary text-light-primary border-primary border-2 rounded-md font-medium text-lg hover:bg-dark-second"
      >Modificar Perfil</a
    >
  </div>
</Layout>
