---
import Layout from "@/layouts/NormalLayout.astro";
import {supabase} from "@/db/supabase";

const {data: TeamsData, error} = await supabase
  .from("team")
  .select("*");

  let numberOFDrivers: number[] = [];

for (const team of TeamsData || []) {
  const { data: teamMembers } = await supabase
    .from("profiles")
    .select('*', { count: 'exact', head: false })
    .eq("team", team.id);
  numberOFDrivers.push(teamMembers?.length || 0);
}
---

<Layout title="ESP Racing: Equipos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <p2 class="text-5xl font-bold border-b border-primary w-fit mx-auto"
      >Tabla de Equipos</p2
    >
    <table class="mt-6 w-full border-collapse border border-lightPrimary">
      <thead class="font-medium bg-primary">
        <tr>
          <th>Nº</th>
          <th colspan="2">Nombre</th>
          <th>Nº Pilotos</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        {
          TeamsData?.map((team, index) =>
            <tr class="bg-darkPrimary">
              <td class = "font-semibold">{index + 1}</td>
              <td><img src={String(team.image)} alt="Avatar" class="w-8 py-1"/></td>
              <td>{team.name}</td>
              <td>{numberOFDrivers[index]}</td>
              <td>{team.description}</td>
            </tr>
          )
        }
      </tbody>
    </table>
  </div>
</Layout>

<style>
  tbody tr:nth-child(odd) {
    background-color: #0f0f0f;
  }

  tbody tr:nth-child(even) {
    background-color: #19191c;
  }
</style>
