---
import Layout from "@/layouts/NormalLayout.astro";
import {supabase} from "@/db/supabase";
import { DataTable } from "@/components/data-table";

const {data: TeamsData, error} = await supabase
  .from("team")
  .select("*")
  .eq("active", true);

  let numberOFDrivers: number[] = [];

for (const team of TeamsData || []) {
  const { data: teamMembers } = await supabase
    .from("profiles")
    .select('*', { count: 'exact', head: false })
    .eq("team", team.id);
  numberOFDrivers.push(teamMembers?.length || 0);
}

// Añade la propiedad numberOFDrivers a cada equipo
const TeamsDataWithDrivers = (TeamsData || []).map((team, idx) => ({
  ...team,
  numberOFDrivers: numberOFDrivers[idx] || 0,
}));

// Definición de columnas para coches
const teamColumns = [
  { header: "", accessor: "image" },
  { header: "Nombre", accessor: "name" },
  { header: "Nº Pilotos", accessor: "numberOFDrivers" },
  { header: "Descripción", accessor: "description" },
];
---

<Layout title="ESP Racing: Equipos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <p2 class="text-5xl font-bold border-b border-primary w-fit mx-auto"
      >Tabla de Equipos</p2
    >
    <div class="px-3 mt-6">
      <DataTable
        client:only="react"
        data={TeamsDataWithDrivers}
        columns={teamColumns}
        onEdit={false}
        onDelete={false}
        pageSize={10}
        searchable={true}
        searchPlaceholder="Buscar por nombre del equipo."
        searchableColumns={[
          {accessor: "name"}
        ]}
      />
    </div>
  </div>
</Layout>