---
import { supabase } from "@/db/supabase";
import Card from "@/components/Card.astro";

import Sergig from "@/assets/social/TwitchBackGPurple.webp";
import FunAC from "@/assets/social/FUNAC.webp";
import ESPRacing from "@/assets/imgresource/ESPRACINGLogo.webp";
import PreviewImageRace from "@/assets/imgresource/previewraces.webp";

const { data: champData, error: champError } = await supabase
  .from("championship")
  .select("id, name, champ_img, number_of_races_total")
  .eq("isfinished", false)
  .order("id", { ascending: false })
  .single();


let champImgUrl = "";
if (champData && champData.champ_img) {
  const { data: urlData } = supabase
    .storage.from("championshipposter")
    .getPublicUrl(champData.champ_img);
  champImgUrl = urlData?.publicUrl || "";
}
---

<div class="grid grid-cols-1 gap-4 p-3 mb-24 max-w-screen-3xl md:grid-cols-3 md:gap-8 xl:grid-cols-5">
  <div>
    <Card
      title="ESP Racing"
      subtitle="Nuestro Discord"
      body="Nuestro discord, donde encontraras el punto neuralgico de todas las carreras, donde encontraras el contenido para correr con nosotros, y mucho más"
      imgbg={ESPRacing.src}
      linkbutton="https://discord.gg/hjawMXGU6k"
      buttonname="Unete a nosotros"
      altimg="Card ESP Racing"
      targetpage="_blank"
    />
  </div>

  <div>
    <Card
      title="Sergig_"
      subtitle="Retransmisión de Carreras"
      body="Para ver todas nuestras carreras en directo, este es el canal oficial de retransmisiones, comentado por el gran Sergig_."
      imgbg={Sergig.src}
      linkbutton="https://www.twitch.tv/sergig_"
      buttonname="Visita su Canal"
      altimg="Card Twitch Sergig_"
      targetpage="_blank"
    />
  </div>

  <div>
    <Card
      title="FunACCommunity"
      subtitle="Comunidad Recomendada"
      body="Comunidad Hermana de ESP Racing. Para disfrutar de carreras más relajadas, pero con el mismo nivel y respeto, este es tu lugar."
      imgbg={FunAC.src}
      linkbutton="https://discord.com/invite/pFBPuxt28g"
      buttonname="Echa un vistazo"
      altimg="Card FunACCommunity"
      targetpage="_blank"
    />
  </div>

  <div>
    <Card
      title={champData && champData.name ? champData.name : "Campeonato Actual"}
      subtitle="Campeonato Actual"
      body=`${champData && champData.name ? champData.name : "Campeonato Actual"}. Campeonato actual, compuesto de ${champData && champData?.number_of_races_total ? champData.number_of_races_total : "varias"} carreras trepidantes y con un gran desafio detras de cada una de ellas.`
      imgbg={champImgUrl}
      linkbutton="/actualchamp"
      buttonname="Más Información"
      altimg = "Car Info Campeonato Actual"
      targetpage="_self"
    />
  </div>

  <div>
    <Card
      title="Ultima Carrera"
      subtitle="¿No vistes la anterior carrera?"
      body="Pasate por nuestro canal de Youtube, donde encontraras la ultima carrera que se ha realizado, y todas las anteriores. No te las pierdas."
      imgbg={PreviewImageRace.src}
      linkbutton="https://www.youtube.com/@esp-racing-com-es/videos"
      buttonname="Visitar Canal YT"
      altimg="Card Ultima Carrera Youtube"
      targetpage="_blank"
    />
  </div>
</div>