---
import { supabase } from "@/db/supabase";

interface Race {
  RaceName: string;
  filename: string;
  ChampID: string;
  ChampName: string;
  Season: string;
}

interface Championship {
  name: string;
  races: Race[];
  season: string;
}

interface Props {
  actualchamp: string;
}

const { actualchamp } = Astro.props;

let resultSet;

if (actualchamp === "true") {
  const { data: lastChampData } = await supabase
    .from("race")
    .select("championship!inner(id)")
    .order("id", { ascending: false })
    .single();

  if (!lastChampData) {
    console.log("No hay datos");
  } else {
    const { data: resultSetData } = await supabase
      .from("race")
      .select("name, filename, championship!inner(id, name, season)")
      .eq("championship", lastChampData.championship.id);

    resultSet = resultSetData;
  }
} else {
  const { data: resultSetData } = await supabase
    .from("race")
    .select("name, filename, championship!inner(id, name, season)")
    .order("id", { ascending: true });

  resultSet = resultSetData;
}

const RacesData: Race[] = (resultSet ?? []).map((race) => ({
  RaceName: race.name ?? "",
  filename: race.filename,
  ChampID: race.championship.id.toString(),
  ChampName: race.championship.name ?? "",
  Season: race.championship.season ?? "",
}));

let racesByChampionship: { [key: string]: Championship } = {};

if (RacesData.length == 0) {
  console.log("No hay datos");
} else {
  // Agrupamos las carreras por campeonato
  racesByChampionship = RacesData.reduce(
    (acc: { [key: string]: Championship }, race: Race) => {
      if (!acc[String(race.ChampID)]) {
        acc[String(race.ChampID)] = {
          name: String(race.ChampName) ?? "Unknown Championship",
          races: [],
          season: String(race.Season) ?? "Unknown Season",
        };
      }
      acc[String(race.ChampID)].races.push(race);
      return acc;
    },
    {} as { [key: string]: Championship }
  );
}
---

{
  actualchamp === "true" ? (
    <p class="py-4 text-4xl font-bold text-center">
      Selecciona la carrera a revisar
    </p>
  ) : (
    <p class="py-4 text-4xl font-bold text-center">
      Selecciona el campeonato y carrera pasada a revisar
    </p>
  )
}

<div class="grid grid-cols-1 gap-4 mx-2 md:grid-cols-2 lg:grid-cols-3">
  <div>
    <p>Temporada</p>
    <select
      id="select-season"
      class="block m-auto w-full px-4 py-3 text-lg font-medium rounded-xl pe-9 focus:border-[#da392b] disabled:opacity-50 disabled:pointer-events-none bg-[#19191c] border-neutral-700 text-[#f9f9f9] placeholder-neutral-500"
    >
      {
        [
          ...new Set(
            Object.values(racesByChampionship).map((champ) => champ.season)
          ),
        ].map((season) => (
          <option value={season} class="text-[#f7f7f7]">
            {season}
          </option>
        ))
      }
    </select>
  </div>
  <div>
    <p>Campeonato</p>
    <select
      id="select-champ"
      class="block m-auto w-full px-4 py-3 text-lg font-medium rounded-xl pe-9 focus:border-[#da392b] disabled:opacity-50 disabled:pointer-events-none bg-[#19191c] border-neutral-700 text-[#f9f9f9] placeholder-neutral-500"
    >
      {
        Object.values(racesByChampionship).map((champ) => (
          <option
            value={champ.name}
            class="text-[#f7f7f7]"
            data-season={champ.season}
          >
            {champ.name}
          </option>
        ))
      }
    </select>
  </div>
  <div>
    <p>Carrera</p>
    <select
      id="select-race"
      class="block m-auto w-full px-4 py-3 text-lg font-medium rounded-xl pe-9 focus:border-[#da392b] disabled:opacity-50 disabled:pointer-events-none bg-[#19191c] border-neutral-700 text-[#f9f9f9] placeholder-neutral-500"
    >
      {
        Object.values(racesByChampionship).flatMap((champ) =>
          champ.races.map((race) => (
            <option
              value={race.filename}
              class="text-[#f7f7f7]"
              data-season={champ.season}
              data-championship={champ.name}
            >
              {race.RaceName}
            </option>
          ))
        )
      }
    </select>
  </div>
</div>

<!-- Tabla de resultados -->
<div class="container mx-auto">
  <div class="section">
    <button
      id="loadButtonSimpleResults"
      class="no-underline bg-[#19191c] rounded-xl my-4 font-medium text-white text-lg py-4 px-8 block mx-auto hover:text-[#0f0f0f] hover:bg-[#da392b]"
    >
      Cargar Resultados de Carrera
    </button>

    <div id="datosCircuito"></div>
    <div id="tablaResultados"></div>
  </div>
</div>

<script>
  // Script para cargar los resultados de la carrera seleccionada
  import "@/pages/api/raceresults/getRaceResultsSimple.ts";
</script>

<script is:inline data-astro-rerun>
  const seasonSelect = document.getElementById("select-season");
  const champSelect = document.getElementById("select-champ");
  const raceSelect = document.getElementById("select-race");

  if (
    !(seasonSelect instanceof HTMLSelectElement) ||
    !(champSelect instanceof HTMLSelectElement) ||
    !(raceSelect instanceof HTMLSelectElement)
  )
    return;

  // Funci칩n para filtrar campeonatos por temporada
  function filterChampionships() {
    const selectedSeason = seasonSelect.value;
    const champOptions = champSelect.querySelectorAll("option");

    champOptions.forEach((option) => {
      if (option.getAttribute("data-season") === selectedSeason) {
        option.style.display = "";
      } else {
        option.style.display = "none";
      }
    });

    // Seleccionar el primer campeonato visible
    const firstVisibleOption = Array.from(champOptions).find(
      (option) => option.style.display !== "none"
    );
    if (firstVisibleOption) {
      champSelect.value = firstVisibleOption.value;
    }
  }

  function filterRaces() {
    const selectedSeason = seasonSelect.value;
    const selectedChamp = champSelect.value;
    const raceOptions = raceSelect.querySelectorAll("option");

    raceOptions.forEach((option) => {
      if (
        option.getAttribute("data-season") === selectedSeason &&
        option.getAttribute("data-championship") === selectedChamp
      ) {
        option.style.display = "";
      } else {
        option.style.display = "none";
      }
    });
    // Seleccionar primera carrera visible
    const firstVisibleRace = Array.from(raceOptions).find(
      (option) => option.style.display !== "none"
    );
    if (firstVisibleRace) {
      raceSelect.value = firstVisibleRace.value;
    }
  }

  // A침adir evento change al select de temporada
  seasonSelect.addEventListener("change", filterChampionships);

  // Filtrar al cambiar temporada o campeonato
  seasonSelect.addEventListener("change", filterRaces);
  champSelect.addEventListener("change", filterRaces);

  // Filtrar campeonatos al cargar la p치gina
  filterChampionships();

  // Filtrar al cargar la p치gina
  filterRaces();
</script>
